*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#header{
    background-color:#212529;
    overflow: auto;
    padding:25px 4rem;
    

}
#header .logo{
    float:left;

}
#header .navbar{
    float:right;
}
.logo a{
    color:#FFC800;
    font-weight: bold;
    font-size: 25px;
    
}
.navbar a{
    color: #FFFFFF;
    padding: 8px;
}
#first {
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 13rem 0;
}
.find-text h3{
color:#FFFFFF;
font-size: 36px;
margin:0px 0px 32px;
}
.find-text h1{
    color:#FFFFFF;
   font-size: 72px;
   margin:0px 0px 64px;
}
.find-text a {
    color: #FFF;
    background-color: #FFC800;
    font-size:20px;
    padding: 2rem ;
    border-color: #FFC800;
    border-radius: 5px;
    width:20%;
    border:none;
    outline:none;
}

#second .title {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
}

#second .title h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

#second .title em {
    font-size: 20px;
    color:#6C757D;
}

#second .service {
    float: left;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#second .service .service-icon {
    background-color: #ffc800;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relative;
}

#second .service .service-icon i {
    font-size: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#second .service .service-title {
    text-align: center;
    font-size: 25px;
    margin: 30px 0;
}

#second .service .service-desc {
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    color:#6C757D;;
}

.portfolio {
 
    text-align: center;
}

 .title h1 {
    margin-bottom: 20px;
    font-size: 33px;
}
.title p{
    font-size: 20px;
}
 .portfolio-image img {
    margin-top: 33px;
    width: 100%;
}

.portfolio-cards {
    float: left;
    margin-left: 66px;
    width: 28%;
    margin-bottom: 50px;
}




